# Python virtual environment
python/venv/
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Power BI temporary files
*.pbit
*.tmp
~$*

# OS files
.DS_Store
Thumbs.db